* {
    box-sizing: border-box;
}


html {
    margin: auto;
    scroll-behavior: smooth;

    body {
        padding: 0;
        margin: 0 auto;
        cursor: default;
    
        /* font-family: system-ui; */
        font-family: Merriweather;
        /* font-family: math; */
    

        
    }


}

nav, .footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    
    padding: 15px;
    padding-inline: 25px;
    width: 100%;

    position: sticky;
    top: 0;
    z-index: 15;

    /* position: relative; */
    /* z-index: 1000; */

    ul {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        list-style-type: none;
        gap: 2vw;
    }

    a:link, a:visited {
        color: var(--text);
        text-decoration: none;
    }

    i {
        font-size: 3vh;
    }

    .fas {
        font-size: 2vh;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: large;

        display: none;
    }
}

.footer-links {
    z-index: 0;
    flex-wrap: wrap;
}

#iconLinks {
    justify-content: start;
}

#menuProfile {
    justify-content: end;
}


#search input {
    padding: 10px;
    /* margin-inline: -5px; */
    font-size: large;
    box-shadow: 0px 0px 2px rgb(0, 0, 0, .44);
    border: none;
    border-radius: 5px;
    max-width: 100%;
    width: calc(100% - 20px);
    margin-inline-start: 0px;
}


#search {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0;
}

.search-icon {
    /* font-size: 24px; */
    cursor: pointer;
}

.search-box {
    display: none;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* width: 200px; */
}

.search-box.visible {
    display: block;
}


#searchResults {
    

    list-style: none;
    padding: 0;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 220px;
}

#searchResults li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#searchResults li:last-child {
    border-bottom: none;
}

.hidden {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;

    position: static;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position right under the navbar */
    /* left: 0; */
    /* width: 20%;  */
    background-color: rgb(44, 24, 11);
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0,.44);
    z-index: 999;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    max-width: 90%;
    margin-inline: -20px;
    border-radius: 0 0 25px 25px;
}

.dropdown-content.show {
    display: block;
    max-height: 300px; /* Adjust this value based on your content */
    transition: max-height 0.3s ease-in;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:rgb(19, 10, 5);
}

.show {
    display: block;
}
#menuProfile {
    display: flex;
    align-items: center;
    list-style-type: none;
}


#sideMenu {
    height: 98%;
    /* max-height: max-content; */
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(44, 24, 11);
    box-shadow: -4px 0px 10px 0px rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5vh;
    border-radius: 25px 25px 0px;


    ul {
        padding: 0;
        list-style-type: none;
    }
}



#sideMenu a {
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    /* color: #818181; */

    color: white;
    display: block;
    transition: 0.3s;
}
#sideMenu a:hover {
    color: #f1f1f1;
    opacity: 50%;
}

/* Position the dropdown content */
#menuProfile .dropdown {
    /* position: relative; */
}

#menuProfile .dropdown-content {
    right: 4vw;  
    /* left: auto;  */
}


.fa-chevron-down {
    transition: transform 0.3s ease;
}
.rotate {
    transform: rotate(180deg);
}











header {

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        /* overflow: inherit; */

        filter:blur(2px);
    }

    .hero-title {
        /* position: relative; */
        /* top: 10vh; */
        z-index: 1;
        padding: 25px;
        padding-left: 40px;
        max-width: 600px;
        border-radius: 0 25px 25px 0;
        margin-top: 25px;
        margin-bottom: 20vh;
        line-height: 1.3;

        h1 {
            margin: 0;
            line-height: 1.1;
        }

        h2 {
            margin-top: 0;
        }

        h2 i {
            font-size: 8vh;
        }

        p {
            margin: 0;
            margin-top: 5px;
            line-height: 1.6;
        }


    }

    .hero-title-right {
        position: absolute;
        /* top: 10vh; */
        right: 0;
        z-index: 1;
        padding: 25px;
        padding-left: 40px;
        max-width: 600px;
        border-radius: 0 25px 25px 0;
        margin-top: 25px;
        margin-bottom: 20vh;
        line-height: 1.3;

        h1 {
            margin: 0;
            line-height: 1.1;
        }

        h2 {
            margin-top: 0;
        }

        h2 i {
            font-size: 8vh;
        }

        p {
            margin: 0;
            margin-top: 5px;
            line-height: 1.6;
        }
    }
}



.grid-slider, #books-list, .main-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 12px;
    margin-bottom: 10vh;

    a:link, a:visited {
        color: var(--text);
        text-decoration: none;

        border-bottom: thin dashed;
    }

    h1 {
        margin-bottom: 0;
    }

    p {
        margin-top: 5px;
    }
}

.grid-four {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* max-width: 1600px; */
    width: 100%;

    margin: 0 auto;
    /* padding: 12px; */
    gap: 1vw;
    gap: 1vh;
    
}


.grid-item {
    padding: 12px;
    border-radius: 10px;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* max-width: max-content; */
    /* max-width: 200px; */

    a:link, a:visited {
        color: var(--text);
        text-decoration: none;
    }

    a:hover {
        opacity: 50%;
    }

    h1 {
        margin: 0;
        margin-top: 10px;
    }

    img {
        /* margin-bottom: 10px; */
        max-width: 100%;
        border-radius: 10px;
        max-height: 35vh;
        /* object-fit: contain; */
        box-shadow: 2px 2px 2px black;
        display: block;
    }

    h2 {
        font-size: large;
        margin: 0;
        margin-top: 5px;
        /* opacity: 80%; */
        text-transform: uppercase;
    }

    p {
        line-height: 1.6;
    }

}


footer {
    position: relative;
    bottom: 0;
    padding-top: 5vh;
    padding-bottom: 3vh;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 25vh;

    img {
        width: 100%;
        margin-top: 5vh;
    }
}


/* .dropdown-content {
    display: none;
  }
  .dropdown-content.show {
    display: block;
  } */
  



@media screen and (max-width: 850px) {
    nav {
        ul {
            gap: 4vw !important;

            li, .dropdown {
                display: none;
            }



            
        }
    }

    #menuProfile .dropdown, #search li, #addBook li {
        display: block !important;
    } 

    .dropdown-content {
        /* width: 100%;  */
    }

    #sideMenu.open {
        width: 100%;
        
        height: 100%;
        border-radius: 0;
        padding: 20px;
        padding-top: 6vh; 
    }
    #sideMenu a {
        font-size: 24px;
    }

    

    #menuProfile .dropdown-content {
        right: 8vw; 
    }


    body.menu-open {
        overflow: hidden;
    }



    .footer-links {


        ul {
            display: flex;
            gap: 2vh;
            flex-direction: column;
            /* align-items: flex-start; */
            justify-content: center;
        }

    }


    header {
        .hero-title {
            margin-bottom: 8vh;
            margin-right: 15px;
            padding-left: 20px;
        }
    }

    .grid-four {
        grid-template-columns: 2fr 2fr;
    }

    .search-box {
        width: calc(100% - 10px) !important;
    }


}


@media screen and (prefers-color-scheme: light) {
    

    nav {
        box-shadow: 0px 2px 0px rgb(44, 24, 11);
        background-color: white;

        ul {
            
            li {
                a:hover {
                    /* border-bottom: thin solid; */
                    opacity: 80%;
                }
            }

            i:hover {
                opacity: 80%;
            }
        }
    }

    .footer-links {
        
        ul {
            
            li {
                a:hover {
                    /* border-bottom: thin solid; */
                    opacity: 80%;
                }
            }

            i:hover {
                opacity: 80%;
            }
        }
    }
    

    /* body, nav {
        background: rgb(92, 50, 23);
    } */

    .hero-title {
        background-color: rgba(100, 55, 25, 0.863);
        color: white;
    }


    .grid-item {
        background-color: rgba(100, 55, 25, 0.863);
        color: white;
        box-shadow: 0px 0px 2px rgba(44, 24, 11, 0.863);
    }


    footer {
        background-color: rgba(100, 55, 25, 0.863);
        color: white;
        border-radius: 25px 25px 0 0;
        padding-inline: 25px;
    }

    .dropdown-content a {
        color: white !important;
    }

    i {
        color: rgb(92, 50, 23);
    }

    header {
        i {
            color: white;
        }
    }

/* 
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
      }
    
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(44, 24, 11);
        border-radius: 10px;
      }
    
      * {
        scrollbar-color: rgb(255,255,255) rgba(100, 55, 25, 0.863);
        scrollbar-width: thin;
      }
    
    ::-webkit-scrollbar {
        border-radius: 10px;
        width: 10px;
        
      }
    
    ::-webkit-scrollbar-track {
        background: rgba(100, 55, 25, 0.863);
    }
 */

}


@media screen and (prefers-color-scheme: dark) {


    nav {
        box-shadow: 0px 2px 0px rgb(44, 24, 11);

        ul {
            
            li {
                a:hover {
                    /* border-bottom: thin solid; */
                    opacity: 80%;
                }
            }

            i:hover {
                opacity: 80%;
            }
        }
    }

    .footer-links {
        
        ul {
            
            li {
                a:hover {
                    /* border-bottom: thin solid; */
                    opacity: 80%;
                }
            }

            i:hover {
                opacity: 80%;
            }
        }
    }

    .grid-item {
        background-color: rgba(44, 24, 11, 0.863);
        box-shadow: 0px 0px 2px rgba(44, 24, 11, 0.863);
    }
    

    body, nav {
        background: rgb(92, 50, 23);
    }

    .hero-title {
        background-color: rgba(44, 24, 11, 0.863);
    }

    footer {
        background: rgba(44, 24, 11, 0.863);
        border-radius: 25px 25px 0 0;
        padding-inline: 25px;
    }

    input {
        background-color: rgba(44, 24, 11, 0.863);
    }


    /* ::-webkit-scrollbar-thumb {
        border-radius: 10px;
      }
    
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(44, 24, 11);
        border-radius: 10px;
      }
    
      * {
        scrollbar-color: rgb(44, 24, 11) rgb(92, 50, 23);
        scrollbar-width: thin;
      }
    
    ::-webkit-scrollbar {
        border-radius: 10px;
        width: 10px;
        
      }
    
    ::-webkit-scrollbar-track {
        background: rgb(92, 50, 23);
    
      } */


}