* {
    box-sizing: border-box;
}

html {
    margin: auto;
    scroll-behavior: smooth;

    body {
        padding: 0;
        margin: 0 auto;
        cursor: default;
    
        /* font-family: system-ui; */
        font-family: Merriweather;
        /* font-family: math; */
    

        
    }


}

nav, .footer-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vw;
    
    padding: 15px;
    padding-inline: 25px;
    width: 100%;

    position: sticky;
    top: 0;
    z-index: 15;

    /* position: relative; */
    /* z-index: 1000; */

    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        list-style-type: none;
        gap: 2vw;
    }

    a:link, a:visited {
        color: var(--text);
        text-decoration: none;
    }

    i {
        font-size: 3vh;
    }

    .fas {
        font-size: 2vh;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: large;

        display: none;
    }
}

.footer-links {
    z-index: 0;
}

#iconLinks {
    justify-content: start;
}

#menuProfile {
    justify-content: end;
}



.dropdown {
    position: relative;
    display: inline-block;

    position: static;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position right under the navbar */
    /* left: 0; */
    /* width: 20%;  */
    background-color: rgb(44, 24, 11);
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 999;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    max-width: 90%;
    margin-inline: 15px;
    border-radius: 0 0 25px 25px;
}

.dropdown-content.show {
    display: block;
    max-height: 300px; /* Adjust this value based on your content */
    transition: max-height 0.3s ease-in;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:rgb(19, 10, 5);
}

.show {
    display: block;
}
#menuProfile {
    display: flex;
    align-items: center;
    list-style-type: none;
}


#sideMenu {
    height: 98%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(44, 24, 11);
    box-shadow: -4px 0px 10px 0px rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 25px 25px 0px;
}
#sideMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /* color: #818181; */

    color: white;
    display: block;
    transition: 0.3s;
}
#sideMenu a:hover {
    color: #f1f1f1;
}

/* Position the dropdown content */
#menuProfile .dropdown {
    /* position: relative; */
}

#menuProfile .dropdown-content {
    right: 2vw;  
    /* left: auto;  */
}


.fa-chevron-down {
    transition: transform 0.3s ease;
}
.rotate {
    transform: rotate(180deg);
}











header {

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        /* overflow: inherit; */

        filter:blur(2px);
    }

    .hero-title {
        /* position: relative; */
        /* top: 10vh; */
        z-index: 1;
        padding: 25px;
        padding-left: 40px;
        max-width: 600px;
        border-radius: 0 25px 25px 0;
        margin-top: 25px;
        margin-bottom: 20vh;
        line-height: 1.3;

        h1 {
            margin: 0;
            line-height: 1.1;
        }

        p {
            margin: 0;
            margin-top: 5px;
            line-height: 1.3;
        }
    }
}

.grid-slider {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
    margin-bottom: 10vh;
}

.grid-four {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
    gap: 2vw;
    
}


.grid-item {
    padding: 12px;
    border-radius: 10px;

    h1 {
        margin: 0;
    }

}


footer {
    position: relative;
    bottom: 0;
    padding-top: 5vh;
    padding-bottom: 3vh;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 25vh;

    img {
        width: 100%;
        margin-top: 5vh;
    }
}



@media screen and (max-width: 950px) {
    nav {
        ul {
            gap: 4vw !important;

            li, .dropdown {
                display: none;
            }

            
        }
    }

    #menuProfile .dropdown {
        display: block !important;
    } 

    .dropdown-content {
        width: 100%; /* Full width on mobile */
    }

    #sideMenu.open {
        width: 100%;
        padding-top: 100px; 
        height: 100%;
        border-radius: 0;
    }
    #sideMenu a {
        font-size: 30px;
    }

    #menuProfile .dropdown-content {
        right: 0; 
    }


    body.menu-open {
        overflow: hidden;
    }



    .footer-links {


        ul {
            display: flex;
            gap: 2vh;
            flex-direction: column;
            /* align-items: flex-start; */
            justify-content: center;
        }

    }


    header {
        .hero-title {
            margin-bottom: 8vh;
            margin-right: 15px;
            padding-left: 20px;
        }
    }

    .grid-four {
        grid-template-columns: 2fr 2fr;
    }


}


@media screen and (prefers-color-scheme: light) {
    

    nav {
        box-shadow: 0px 2px 0px rgb(44, 24, 11);
        background-color: white;

        ul {
            
            li {
                a:hover {
                    /* border-bottom: thin solid; */
                    opacity: 80%;
                }
            }

            i:hover {
                opacity: 80%;
            }
        }
    }

    .footer-links {
        
        ul {
            
            li {
                a:hover {
                    /* border-bottom: thin solid; */
                    opacity: 80%;
                }
            }

            i:hover {
                opacity: 80%;
            }
        }
    }
    

    /* body, nav {
        background: rgb(92, 50, 23);
    } */

    .hero-title {
        background-color: rgba(100, 55, 25, 0.863);
        color: white;
    }


    .grid-item {
        background-color: rgba(100, 55, 25, 0.863);
        color: white;
        box-shadow: 0px 0px 2px rgba(44, 24, 11, 0.863);
    }


    footer {
        background-color: rgba(100, 55, 25, 0.863);
        color: white;
        border-radius: 25px 25px 0 0;
        padding-inline: 25px;
    }


}


@media screen and (prefers-color-scheme: dark) {


    nav {
        box-shadow: 0px 2px 0px rgb(44, 24, 11);

        ul {
            
            li {
                a:hover {
                    /* border-bottom: thin solid; */
                    opacity: 80%;
                }
            }

            i:hover {
                opacity: 80%;
            }
        }
    }

    .footer-links {
        
        ul {
            
            li {
                a:hover {
                    /* border-bottom: thin solid; */
                    opacity: 80%;
                }
            }

            i:hover {
                opacity: 80%;
            }
        }
    }

    .grid-item {
        background-color: rgba(44, 24, 11, 0.863);
        box-shadow: 0px 0px 2px rgba(44, 24, 11, 0.863);
    }
    

    body, nav {
        background: rgb(92, 50, 23);
    }

    .hero-title {
        background-color: rgba(44, 24, 11, 0.863);
    }

    footer {
        background: rgba(44, 24, 11, 0.863);
        border-radius: 25px 25px 0 0;
        padding-inline: 25px;
    }



}